body{
    margin:0;  
}

.hero-section{
    width:100%;
    height: 1080px;
    color: #FFFFFF;
    opacity: 1;
    background-image:linear-gradient(
    #1A3757D9,
    #1A3757D9
  ), url(Images/home-hero.jpg);
}

 nav {
    display: flex;
    justify-content: space-between;
    padding:59px 54px 0px 54px;
} 

nav ul {
    list-style-type:none;
    display: inline-flex;  
}

nav li {
    font-size: 21px;
    padding-right: 32px;
}

nav img {
    height:56px;
}

a {
    text-decoration: none;
}
nav button {
    margin: 10px;
}

button {
    background: #FCC40F;
    border-radius: 50px;
    border: black;
    height: 54px;
    width: 189px;

    
}


.hero-data {
    text-align: center;
}

.hero-data h1{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: -4;
}

.hero-data p{
    font: normal normal bold 21px/25px Inter;
    letter-spacing: 23.1px;
    color: #FFFFFF;
    opacity: 1;
}

.hero-data h2{
    font: normal normal bold 32px/39px Inter;
}


.countdown {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}
.days, .hours, .minutes, .seconds {
    padding-right: 229px;
}








.first-content {
    
    
}
.first-section img {
width: 866px;
height: 548px;
}


.second-section {
    background-color: #1A3757;
}

.second-content {
  
    color:#FFFFFF;
    padding: 80px 0 79px 139px;
}
.second-section img {
    width: 699px;
    height: 414px;
    border-radius: 20px;
}

