body{
    margin:0; 
    font-family: 'Inter', sans-serif;
}
.mobile-menu {
    transform: translateX(-100%);
    position: fixed;
    top: 24px;
    left: 0;
    z-index: 5;
}

.hero-section{
    width:100%;
    height: 1080px;
    color: #FFFFFF;
    opacity: 1;
    background-image:linear-gradient(
    #1A3757D9,
    #1A3757D9
  ), url(Images/home-hero.jpg);
}

 nav {
    display: flex;
    justify-content: space-between;
    padding:59px 54px 0px 54px;
} 

nav ul {
    list-style-type:none;
    display: inline-flex;  
}

nav li {
    font-size: 21px;
    padding-right: 32px;
}

nav img {
    height:56px;
}

a {
    text-decoration: none;
}
nav button {
    margin: 10px;
}

button {
    background: #FCC40F;
    border-radius: 50px;
    border: black;
    height: 54px;
    width: 189px;

    
}


.hero-data {
    text-align: center;
}

.hero-data h1{
    font-size: 97px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 247px;
    margin-bottom: -4;
}

.hero-data p{
    font-weight:  bold;

    letter-spacing: 23.1px;
    color: #FFFFFF;
    opacity: 1;
}

.hero-data h2{
    font:  normal bold 39px Inter;
}


.countdown {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding-top: 125px;
   
}

.first-section {
    height: 100vh;
    margin: 142px 140px -142px 140px;
}

.first-wrapper {
    display: flex;
    justify-content: space-around;
}

.first-content h2 {
   font: size 24px;
   font-weight: bold;
   letter-spacing: 0px;
   color: #1A3757;
}
.first-content h1 {
    font-weight: bold;
    font-size:  50px ;
    color: #1A3757;
    width: 588px;
}

.first-section img {
    border-radius: 20px;
    height: 548px;
}


.second-section {
    background-color: #1A3757;
}

.second-content {
    display: flex;
    color:#FFFFFF;
    padding: 80px 0 79px 139px;
}
.second-section img {
    height: 414px;
    border-radius: 20px; 
    font-weight: bold;
}
.second-wrapper {
    padding-left: 106px;
}
.secondary-text {
    color: #FCC40F;
}
.second-content ul {
    line-height: 3;
    padding-right: 26px;
}

.second-section h1 {
    font-size: 40px;
    text-align: left;
}

li {
    list-style-type:none;
    font-size: 16px;
    
}

.second-section li:before {
    color: #FCC40F;
    content: '✓'; 
    padding-right: 5px;
   }

.list-data {
    display: flex;

}

footer{
    background:#ededed;
}
footer .container{
    padding:0;
    max-width:100%
}footer .footer-top{
    padding:64px 40px;
    margin:0 auto;
}


    @media(max-width:1024px){
        
        .nav li {
            font-size:16px ;
        }
        .hero-section {
            padding: 22px 27px 48px;
            font: size 40px;
        }
        .hero-data h1 {
            font-size: 80px;
        }

        .first-content h2 {
            font-size:24px;
        }
        .first-content h1 {
            font-size: 40;
        }
    }


@media (min-width:1024px){

footer .footer-top{
        display:grid;
        grid-template-columns:auto repeat(3,1fr);
        grid-gap:40px}
    }
@media (min-width:1440px){
    footer .footer-top{
        grid-gap:184px
    }
}
    footer .footer-logo img{
        width:300px
    }
    footer .footer-text{
            margin-top:64px;
            text-decoration:none;
        }
@media (min-width:768px){
    footer .footer-text {
        margin-top:0}
    }
        footer h5{
            font:normal normal 700 20px/35px Inter
        }
        footer .footer-bottom{
            border-top:1px solid #c4c4c4;padding:20px 40px
        }
        footer .footer-bottom p{
            font:normal normal 700 16px/26px Inter;text-align:center
        }


